{template 'common/header'}
<div class="alert alert-danger" role="alert">这里不需要任何设置，如需要帮助可联系我。</div>
<div class="alert alert-info" role="alert">联系开发者QQ：<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=171847271&site=qq&menu=yes"><img border="0" src="{MODULE_URL}template/web/images/site_qq.jpg" alt="联系开发者QQ" title="联系开发者QQ"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;查找更多模块：<a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=53bfc9068797d5701b4c7961a1c19a29a05dde2ef62cd6b8e93399fe3c778aa6
"><img border="0" src="{MODULE_URL}template/web/images/img.png" alt="查找更多模块" title="查找更多模块"></a></div>
{template 'common/footer'}
